@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");

:root {
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    --dark: #21252f;
    --body: #888;
  }

* {
    transition: all 0.4 ease;
}

body {
    font-family: "Zen Antique", serif;
    color: white;
}

html {
    font-size: 62.5%;
}

h2,
h3 {
  position: relative;
  z-index: 1;
  font-size: 1.7rem;
  font-weight: 540;
}


header {
    padding: 2.7rem 5.4rem;
    text-shadow: black 1px 3px 6px;
    z-index: 1000;
    position: fixed;
    color: black;
    background-color: transparent;
}

.col-md-12 {
    padding: 0;
}

.logo-title {
    cursor: pointer;
}

.logo-title h2 {
    font-size: 2.5rem;
}

header img {
    width: 3.5rem;
    cursor: pointer;
}

header .book-close-btn {
    display: block;
  }
  
  header .book-close-btn.active {
    display: none;
  }
  
  header .book-open-btn {
    display: none;
  }
  
  header .book-open-btn.active {
    display: block;
  }
  /* ----- book-javascript ----- */
  
  header .menu-bar {
    position: absolute;
    top: 30vh;
    right: -200px;
    /* right: -20px; */
    background: #000;
    width: 170px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: right 0.5s ease, opacity 0.5s ease; /* トランジションを追加 */
    transition-delay: 0.2s;
  }
  
  header .menu-bar.active {
    right: -20px;
    opacity: 1;
  }
  
  header .menu-bar li {
    margin-bottom: 3rem;
  }
  header .menu-bar li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
  }
  
  header .menu-bar li a:hover {
    color: rgb(71, 173, 187);
  }

.hero {
    background-image: url(./img/IMG-9635.JPG);
    background-size: cover;
    background-position: center;
}

.hero::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .game-card {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
.game-card img {
    width: 75%; /* 画像の幅 */
    height: 100%; /* 画像の高さ */
    border-radius: 50%;
}

  .game-card h5 {
    font-size: 2rem;
  }
  
  .game-card p {
    font-size: 1.7rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }
  
  .game-card:hover {
    box-shadow: none;
    transform: scale(1.03);
  }

.game {
    background: url(./img/IMG-9642\ \(1\).JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.game h2 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game button {
  line-height: 5rem;
  width: 100px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: all 0.35s;
}

.game button:hover {
  transform: scale(1.05);
}

.footer-top {
  padding-bottom: 90px;
  padding: 90px;
  background-color: var(--dark);
}

.footer-top h4 {
  font-size: 2rem;
  transform: translateX(-50px);
}

.footer-top h5 {
  font-size: 1.7rem;
}

.footer-top a {
  color: var(--body);
  text-decoration: none;
  font-size: 2rem;
}

.footer-top a:hover {
  color: #fff;
}

.social-icons a {
  font-size: 3rem;
}


  
  @media (max-width: 576px) {
    html {
      font-size: 45%;
    }
  }